.folders {
    display: flex;
    flex-direction: column;

    width: 100%;
    font-size: 24px;
}

.folders a {
    margin-right: 10px;
}

.folders #folder {

}

.folders #file {

}

.folders .file_button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 2rem;
    margin-bottom: 20px;

    background-color: #261C2C;

    padding: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

    border-radius: 10px;
}

.row {
    display: flex;
    flex-direction: row;

    align-items: center;
}

img {
    width: 24px;
    height: auto;

    margin-right: 20px;
}