.console-output {
    background-color: #e3e3e3;
    width: 100%;
    height: 90%;
    padding: 10px;
    overflow-y: auto;

    display: flex;
    flex-direction: column-reverse;
}

.console {
    width: 70%;
    height: 500px;

    margin-right: 50px;
}

.outputs p {
    word-wrap: break-word;
}

.console-input {
    width: 100%;
    font-size: 18px;
}

.console-input-vertical {
    display: flex;
    width: 100%;

    flex-direction: row;
}

.main-instance {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 500px;

    background-color: #e3e3e3;
}

.buttons button {
    width: 100%;
}

.performance {
    background-color: #e3e3e3;
    width: 100%;
    height: 250px;
}