.title {
    text-align: center;
}

.main {
    margin: auto;
    width: 60%;
}

.instance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}