header {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 20px;
}

header a {
    font-size: 24px;
}

.title {
    text-align: center;
}

.main {
    margin: auto;
    width: 60%;
}

.instance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}