{% extends "base.html" %}

{% block stylesheets %}
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='css/file.css') }}">
{% endblock %}

{% block title %}File{% endblock %}
{% block instances %}File{% endblock %}

{% block header_buttons %}
    <a href="/instance/{{ instance_id }}/console/">Console</a>
    <a href="/instance/{{ instance_id }}/permissions/">User permissions</a>
    <a href="/instance/{{ instance_id }}/settings">Instance Settings</a>
    <a href="/instance/{{ instance_id }}/folders/?path=/">Folders/Files</a>
{% endblock %}

{% block main %}
    <input type="hidden" id="path" value="{{ path }}">

    <div class="file">
        <h2>{{ path }}</h2>

        <label>
            <textarea id="file">{{ file }}</textarea>
        </label>

        <button id="save">Save</button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/file.js') }}"></script>
{% endblock %}
