{% extends "base.html" %}

{% block stylesheets %}
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='css/instance.css') }}">
{% endblock %}

{% block title %}Instance{% endblock %}
{% block instances %}Main{% endblock %}

{% block header_buttons %}
    <a href="/instance/{{ instance_data["instance_id"] }}/permissions/">User permissions</a>
    <a href="#">Instance</a>
    <a href="/instance/{{ instance_data["instance_id"] }}/folders/?path=/">Folders/Files</a>
{% endblock %}

{% block main %}
    <input type="hidden" id="instance_id" value="{{ instance_data["instance_id"] }}">
    <input type="hidden" id="instance_state" value="{{ instance_data["instance_state"] }}">

    <div class="control-panel">
        <div class="control-panel-content">
            <div class="console">
                <div class="console-output">
                    <div class="outputs" id="outputs">
                    </div>
                </div>

                <label class="console-input-content">
                    <input class="console-command-input" id="console-input" type="text" autocomplete="off">
                    <button class="button" id="console-submit" type="submit">Send</button>
                </label>
            </div>

            <div class="info">
                <div class="info-content">
                    <div>
                        <h1>{{ instance_data["instance_name"] }}</h1>
                        {% if instance_data["instance_state"] == 1 %}
                            <h2>Instance state: Disabled</h2>
                        {% else %}
                            <h2>Instance state: Activated</h2>
                        {% endif %}
                    </div>
                </div>

                <div class="buttons">
                    <button class="button" id="start-server">Start Server</button>
                    <button class="button" id="stop-server">Stop Server</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/instance.js') }}"></script>
{% endblock %}