{% extends "base.html" %}


{% block stylesheets %}
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='css/permissions.css') }}">
{% endblock %}

{% block title %}User permissions{% endblock %}
{% block instances %}Permissions{% endblock %}

{% block header_buttons %}
    <a href="/instance/{{ instance_id }}">Main</a>
    <a href="#">Instance</a>
    <a href="#">Folders/Files</a>
{% endblock %}

{% block main %}
    <input type="hidden" id="instance_id" value="{{ instance_id }}">

    <form id="permission_check" >
        {% for user in permissions %}
            <div class="permission-content">
                <h2>{{ user }}</h2>
                {% for permission in permissions[user] %}
                    <div class="permission">
                        {% if permission.activated %}
                            <input type="checkbox" name="{{ permission.user_id }}" value="{{ permission.permission }}" checked>
                        {% else %}
                            <input type="checkbox" name="{{ permission.user_id }}" value="{{ permission.permission }}">
                        {% endif %}

                        <p>{{ permission.name }}</p>
                    </div>
                {% endfor %}
            </div>

        {% endfor %}
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/permissions.js') }}"></script>
{% endblock %}