<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename="img/favicon.png") }}">
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    {% block stylesheets %}
    {% endblock %}
    <title>KSM - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <a class="header-title" href="/">KSM - {% block instances %}{% endblock %}</a>
            <div class="header-buttons">
                {% block header_buttons %}
                {% endblock %}
            </div>
        </div>

    </div>

    <div class="main">
        {% block main %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>