{% extends "base.html" %}

{% block title %}Main{% endblock %}
{% block instances %}Main{% endblock %}

{% block header %}
    <a href="/user/create/">Create User</a>
    <a href="/instance/create/">Create Instance</a>
{% endblock %}

{% block main %}
    {% for instance in instances %}
        <div class="instance">
            <div>
                <p>{{ instance["instance_name"] }}</p>
                {% if instance["instance_state"] == 1 %}
                    <p>State: disabled</p>
                {% else %}
                    <p>State: activated</p>
                {% endif %}
            </div>
            <a href="instance/{{ instance['instance_id'] }}/">Select</a>
        </div>
    {% endfor %}
{% endblock %}