{% extends "base.html" %}

{% block stylesheets %}
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='css/instance_editor.css') }}">
{% endblock %}

{% block instances %}Instance Editor{% endblock %}
{% block title %}Instance Editor{% endblock %}

{% block header %}
    <a href="/">Close</a>
{% endblock %}

{% block main %}
    <form method="post">
        <label class="instance_editor">
            <p>Instance name:</p>
            <input autocomplete="false" type="text" name="instance_name">
            <p>Instance type:</p>
            <select name="instance_type">
                {% for type in instance_types.keys() %}
                    <option name="instance_type">{{ type }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Create Instance">
        </label>
    </form>
{% endblock %}