{% extends "base.html" %}

{% block stylesheets %}
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='css/instance_editor.css') }}">
{% endblock %}

{% block instances %}Instance Editor{% endblock %}
{% block title %}Instance Editor{% endblock %}

{% block header %}
    <a href="/">Close</a>
{% endblock %}

{% block main %}
    <form method="post" class="login">
        <div class="login-content">
            <div class="login-panel">
                <h1>Create instance</h1>
                <p>Instance name:</p>
                <label class="login-input-content">
                    <input type="text" autocomplete="off" class="login-input" name="instance_name">
                </label>
            </div>
            <input type="submit" class="button" value="Create">
        </div>
    </form>
{% endblock %}