<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
    <title>KSM - Login{% block title %}{% endblock %}</title>
</head>
<body>
    <form method="post" class="login">
        <div class="login-content">
            <div class="login-panel">
                <h1>KSM - Login</h1>
                <p>Username:</p>
                <label class="login-input-content">
                    <input type="text" autocomplete="off" class="login-input" name="username">
                </label>

                <p>Password:</p>
                <label class="login-input-content last">
                    <input type="password" autocomplete="off" class="login-input" name="password">
                </label>

            </div>
            <input type="submit" class="button" value="Login">
        </div>
    </form>
</body>
</html>