{% extends "base.html" %}

{% block stylesheets %}
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block title %}Main{% endblock %}
{% block instances %}Main{% endblock %}

{% block header_buttons %}
    <a href="/user/create/">Create User</a>
    <a href="/instance/create/">Create Instance</a>
{% endblock %}

{% block main %}
    {% for instance in instances %}
        <div class="instance">
            <a href="instance/{{ instance['instance_id'] }}/" class="button">
                <p>{{ instance["instance_name"] }}</p>
                <span class="server-state {{ "disabled" if instance["instance_state"] == 1 else "activated" }}"></span>
            </a>
        </div>
    {% endfor %}
{% endblock %}