{% extends "base.html" %}

{% block stylesheets %}
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='css/instance_editor.css') }}">
{% endblock %}

{% block instances %}User Creator{% endblock %}
{% block title %}User Creator{% endblock %}

{% block header %}
    <a href="/">Close</a>
{% endblock %}

{% block main %}
    <form method="post" class="login">
        <div class="login-content">
            <div class="login-panel">
                <h1>Create user</h1>
                <p>Username:</p>
                <label class="login-input-content">
                    <input type="text" autocomplete="off" class="login-input" name="username">
                </label>

                <p>Password:</p>
                <label class="login-input-content">
                    <input type="password" autocomplete="off" class="login-input" name="password">
                </label>

                <label class="inline last">
                    <input type="checkbox" name="is_admin">
                    <p>Is administrator</p>
                </label>
            </div>
            <input type="submit" class="button" value="Create">
        </div>
    </form>
{% endblock %}